* {
    font-family: "Gill Sans", sans-serif;
}
.container {
    margin-top: 8px;
}

.logo{
 width: 40px;
}

/*  carousel-inner height  */
.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.carousel-caption
{
    top: 50%;
    transform: translateY(-30%);
}
.carousel-h1{
    color:black;
    background-color: rgb(255, 255, 255, 0.4);
}
.carousel-h4 {
    color:chocolate;
    background-color: rgb(255, 255, 255, 0.4);
}


/*  front pages image */
.page_img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 20px;
}

/*  PRODUCT CARD  */

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.card-img-top.hover {
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

.card:hover .card-img-top.hover {
    transform: scale(0.9);
    object-fit: cover;
}
