* {
    font-family: "Gill Sans", sans-serif;
}
.container {
    margin-top: 10px;
}

/*  carousel-inner height  */
.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

/*  front pages image */
.page_img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 20px;
}

.carousel-caption
{
    top: 50%;
    transform: translateY(-30%);
}
